a {
  color: inherit;
  text-decoration: inherit;
}

.hidden {
  display: none;
}

.body {
  background-color: #f2eeee;
}

.webwidth {
  width: 880px;
  margin-right: auto;
  margin-bottom: 94px;
  margin-left: auto;
}

/* Header Values */

.nav {
  position: static;
  top: 0px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.navgrid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(8, 92px);
}

.navlink {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 33px 0px 0px;
  font-family: futura-pt, sans-serif;
  color: #444;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

.nav-link:hover {
  font-weight: 500;
}

.list {
  display: flex;
  margin-bottom: 0px;
  list-style-type: none;
}

#nav-block-1 {
  grid-column: 1/1
}

#nav-block-2 {
  grid-column: 2/4;
}

#nav-block-3 {
  grid-column: 8/8;
}

/* Footer Values */

.footergrid {
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(8, 92px);
  grid-template-rows: auto auto auto;
  border-top: 1px solid #000;
}

.footertext {
  padding-bottom: 60px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.sociallist {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  list-style-type: none;
  padding-left: 0;
}

.newsletter {
  font-family: retiro-std-24pt, sans-serif;
  font-size: 30px;
}

.footer-input {
  display: flex;
  align-items: flex-end;
}

.email-input {
  width: 360px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #000;
  background-color: transparent;
}

.sub-button {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
  font-family: futura-pt, sans-serif;
  color: #000;
}

#footer-text {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

#social-list {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

#newsletter-field {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
}

#copyright {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: end;
}

/* Home Hero Values */
.hero {
  padding-bottom: 20px;
}

.heroContainer {
  display: flex;
  background-color: #e3dfdc;
}

.heroHeading {
  position: relative;
  top: -16px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: retiro-std-24pt, sans-serif;
  font-size: 110px;
  font-weight: 700;
  text-align: right;
  line-height: 44px;
}

.heroHeading2 {
  margin-top: 34px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: futura-pt, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
}

.herobut {
  width: 220px;
  float: right;
  background-color: #4d4743;
  font-family: retiro-std-24pt, sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.heroImage {
  margin-top: -49px;
  margin-bottom: 62px;
  margin-left: -40px;
}

/* College Section Values */

.featuregrid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(8, 92px);
  grid-template-rows: auto auto auto;
}

.collagecontainer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #e3dfdc;
}

.collagecontainer2 {
  display: block;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #e3dfdc;
}

.collegeheading {
  margin-bottom: 20px;
  font-family: retiro-std-24pt, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.collegepara {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.collegepara2 {
  padding-right: 119px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.featuretext2 {
  padding-right: 58px;
}

#feature-toe {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

#feature-material {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

#feature-TPU {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#feature-dualStraps {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

#feature-heel {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}